body {
    min-height: 100vh;
}

.topMessageShown{
    background-color: rgb(255, 255, 255);
    position: absolute;
    width: 95%;
    margin: 2%;
    height: 125px;
    z-index: 99;
    top: 0px;
    border-radius: 25px;

    text-align: center;
    font-size: 40px;
    color: rgb(0, 0, 0);
    font-weight: bolder;

    box-shadow: 4px 4px 80px rgb(0, 0, 0),
        inset -20px -20px 40px rgba(0, 0, 0, 0.262),
        inset  20px 20px 40px rgba(0, 0, 0, 0.249);
    transition: 0.25s;
}

.topMessageHidden{
    background-color: rgba(109, 109, 109, 0.558);
    position: absolute;
    width: 40%;
    margin: 30%;
    margin-top: -100px;
    height: 62px;
    z-index: 99;
    top: 0px;
    border-radius: 25px;

    text-align: center;
    font-size: 20px;

    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.439),
        inset -20px -20px 40px rgba(0, 0, 0, 0.153),
        inset  20px 20px 40px rgba(0, 0, 0, 0.095);
    transition: 0.25s;
}

#cashTotalContainer {
    position: relative;
    text-align: center;
}

#cashBackground {
    width: 90%;
    height: 400px;
    margin: 5%;
    opacity: 0.8;
    background-image: none;
    object-fit: cover;
    border-radius: 80px;
}

.Atext {
    font-size: 150px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(227, 227, 227);
}

.Btext {
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    position: relative;
    left: 50px;
    color: rgb(227, 227, 227);
    width: 90%
}

.Ctext {
    font-size: 80px;
    font-family: 'Times New Roman', Times, serif;
    position: relative;
    text-align: center;
    color: rgb(227, 227, 227);
}

.Dtext {
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position: relative;
    color: rgb(0, 0, 0);
}
.Etext {
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position: relative;
    color: rgb(0, 0, 0);
}

.Ftext{
    font-size: 40px;
    position: relative;
    color: rgb(0, 0, 0);
}

#totalCashDesc {
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}

.topMenuItems {
    top: 15px;
    position: absolute;
    height: 120px;
    width: 120px;
    transition: 0.2s;
}

#profileButton {
    right: 15px;
    border-radius: 90px;
}

#settingsButton:active {
    transform: rotate(45deg);
}

#profileButton:active {
    transform: rotate(45deg);
}


#topBar {
    background-color: rgb(227, 227, 227);
    height: 150px;
}

#lockIcon{
    width:120px;
    height: 120px;
}

#title {
    font-size: 110px;
    top: 75px;
    color: rgb(0, 0, 0);
}

/* .hsButton{
    box-shadow: -8px -8px 20px rgba(28, 28, 28, 0.172),
        -8px -8px 20px rgba(28, 28, 28, 0.188),
        inset -20px -20px 40px rgba(0, 0, 0, 0.262),
        inset  20px 20px 40px rgba(0, 0, 0, 0.249);
} */

.extraCashInform{
    width: 100px;
    height: 50px;
    background-color: white;
}

#sendReceiveA {
    margin: 5%;
}

#historyButton {
    width: 95%;
    height: 100px;
    border-radius: 30px;
}

.hidden {
    visibility: hidden;
}

/* send page starts here */

.formBox {
    position: relative;
    height: 100px;
    width: 90%;
    margin: 5%;
    font-size: 40px;
    border-radius: 40px;
    text-align: center;
}

.formButton {
    position: relative;
    height: 100px;
    margin: 5%;
    font-size: 40px;
    border-radius: 40px;
    text-align: center;
    width: 60%;
    left: 17%;
}

#sendDoneButton {
    width: 60%;
    left: 17%;
}

.dimmedScreen {
    position: absolute;
    width: 100%;
    height: 200%;
    background-color: black;
    opacity: 0.8;
    top: 0px;
    left: 0px;
}

#confirmationBox {
    position: absolute;
    background-color: rgb(135, 135, 135);
    border-radius: 40px;
    width: 80%;
    margin: 10%;
    height: 500px;
    top: 400;
}



.confirmationButton {
    position: relative;
    text-align: center;
    top: 170px;
    height: 150px;
    width: 40%;
    margin: 4%;
    border-radius: 40px;
    background-color: rgb(227, 227, 227);

    font-size: 80px;
    font-family: 'Times New Roman', Times, serif;
}

/* account creation starts here*/
#signupDoneButton {
    width: 60%;
    left: 17%;
}

.topMenuTextSwitcher {
    position: relative;
    font-size: 40px;
    left: 10px;
}

.pageSpanBox {
    margin: 1%;
    padding: 20px;
    position: relative;
    background-color: rgb(227, 227, 227);
}

#profilePageLogOut{
    position: absolute;
    right: 15px;
    bottom: 10px;
    font-size: 20px;
}

#lockFamilyCheck{
    width: 40px;
    height: 40px;
    
}

#lockFamilyTitle{
    font-size: 40px;
}

#lockFamilyDescription{
    font-size: 25px;
}

#familyEditButton{
    position: relative;
    height: 50px;
    left: 32px;
    top: 10px;
    font-size: 20px;
    border-radius: 20px;
    text-align: center;
    width: 10%;
}

/*Alerts on index page*/
#requestAlerts{
    position: relative;
    text-align: center;
    width: 95%;
    margin: 2.5%;
    border-radius: 40px;
    background-color: rgb(227, 227, 227);
    color: black;
    padding: 5px;
    border-radius: 30px;
    font-size: 80px;
    font-family: 'Times New Roman', Times, serif;
}

.alert{
    position: relative;
    text-align: center;
    width: 95%;
    padding: 10px;
    left: 1%;
    border-radius: 40px;
    background-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);

    border-radius: 30px;
    font-size: 65px;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(24, 24, 24);
}
    /* transaction history page */
    .transactionDate {
        position: absolute;
        color: rgb(0, 0, 0);
        font-size: 30px;
        margin: 10px;
        bottom: 0px;
        right: 10px;
    }
    .transactionBalance {
        position: absolute;
        color: rgb(0, 0, 0);
        font-size: 30px;
        margin: 10px;
        bottom: 0px;
        left: 10px;
    }

    .exDetails {
        background-color: #ffffff55;
        width: 100%;
        height: 40px;
        border-radius: 30px;
    }

.alertButton{
    position: relative;
    text-align: center;
    top: 5px;
    height: 100px;
    width: 30%;
    margin: 5px;
    border-radius: 20px;
    background-color: rgb(227, 227, 227);

    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}
#filtersContainer {
    background-color: rgba(26, 26, 26, 0.982);
    width: 80%;
    height: 100%;
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 99;
}
#filterIcon.open{
    position: absolute;
    z-index: 100;
    width: 80px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    margin-top: -140px;
    margin-left: 20%;
    filter: invert(100%);
    transition: 0.4s;
}
#filterIcon.closed{
    position: relative;
    z-index: 100;
    width: 80px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    filter: invert(0%);
    transition: 0.4s;
    margin-bottom: -10px;
    margin-top: 10px;
    margin-left: 90%;
}
#filtersArea{
    position: absolute;
    height: 90%;
    width:90%;
    top: 150px;
    left: 4%;
}
#filtersTitle{
    position: absolute;
    top: 10px;
    left: 110px;
    color: rgb(255, 255, 255);
    font-size: 80px;
}

.filterLabel{
    font-size: 50px;
    color: rgb(255, 255, 255);
    margin-bottom: 15px;
}

#filterSubmit{
    border-radius: 20px;
    font-size: 45px;
    margin: 10px;
    width: 160px;
    text-align: center;
    color: black;
}

    /* The container */
    .container {
        display: block;
        position: relative;
        padding-left: 65px;
        margin-bottom: 25px;
        cursor: pointer;
        font-size: 45px;
        color: rgb(255, 255, 255);
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    
    /* Hide the browser's default checkbox */
    .container input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }
    
    /* Create a custom checkbox */
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 45px;
        width: 45px;
        background-color: #eee;
    }
    
    /* On mouse-over, add a grey background color */
    .container:hover input ~ .checkmark {
        background-color: #ccc;
    }
    
    /* When the checkbox is checked, add a blue background */
    .container input:checked ~ .checkmark {
        background-color: #2196F3;
    }
    
    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }
    
    /* Show the checkmark when checked */
    .container input:checked ~ .checkmark:after {
        display: block;
    }
    
    /* Style the checkmark/indicator */
    .container .checkmark:after {
        left: 15px;
        top: 8px;
        width: 10px;
        height: 18px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }

/*family edit page*/
table input {
    width: 100px;
    height: 100%;
    background-color: transparent;
    border-color: transparent;
    color: rgba(255, 0, 0, 0.478);
    font-size: 25px;
}
::placeholder {
    color: rgb(0, 0, 0);
}

#weekDaySelect{
    font-size: 25px;
    background-color:#ffffff66;
    color: rgb(0, 0, 0);
}
#frequencyDaySelect {
    font-size: 25px;
    background-color:#ffffff66;
    color: rgb(0, 0, 0);
}

.familyEditInformative{
    font-size: 12px;
}

.familyEditChanged{
    color: rgba(255, 0, 0, 0.478);
}
#familyEditDoneButton {
    position: relative;
    border-radius: 50px;
    width: 40%;
    height: 50px;
    left: 17%;
    font-size: 35px;
    top: 16px;
    left: 27%;
}

/* settings */
.backImgSelect {  
    width: 100%;
    height: 200px; 
    opacity: 0.7;
    background-image: none;
    object-fit: cover;
    border-radius: 40px;
}
.backImgSelectbutton {   
    background-color: transparent;
    width: 30%;
    margin: 1%;
    background-image: none;
    object-fit: cover;
    border-radius: 40px;
}

#defaultTheme{
    width: 30px;
    height: 30px;
}

.memberEdit{
    border-radius: 20px;
    font-size: 45px;
    margin: 10px;
}

#removeFromFamily{
    position: absolute;
    right: 20px;
    color: red;
    background-color: #ffffff00;
    border: 0px;
    font-size: 20px;
}

#memberTHbutton{
    color: blue;
    text-decoration: underline;
    border: 0px;
}

#memberDeleteButton{
    font-size: 50px;
    color: black;
    background-color: red;
}

